.main {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.header {
  background: #510083;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.logo {
  align-self: center !important;
  margin: 0 !important;
  color: white !important;
}

.content {
  padding: 15px;
}
